body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 0px 6px 10px lightgrey;
    height:  100px;
    width: 100%;
    padding:  20px 15px;
}

.Logo{
    object-position: left center;
    height: 100%;
    width: 300px;
    transition: all 0.5s ease;

}

.Logo:hover{
    transform: scale(1.02);
    /* smooth animation */
    transition: all 0.5s ease;
}

#Menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 15px;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Menu li {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
}

#Menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

#Menu li a:hover {
    color: #0488D1;
    font-style: italic;
}


#MenuCart{
    object-position: right center;
    height: 100%;
    width: 50px;
    transition: all 0.5s ease;
}

#MenuCart:hover{
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(180deg);
    /* make the image bigger */
    transform: scale(1.1);
    /* smooth animation */
    transition: all 0.5s ease;
}

.cover{
    width: 100%;
}


.homepage_products {
    margin: 20px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#homepage_front {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#homepage_front h1 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Shrikhand';
    color: #0488D1;
}

#homepage_front h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.products_title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}
.products_title h3 {
    font-size: 36px;
    font-family: 'Shrikhand';
    color: #0488D1;
}


.product {
    cursor: pointer;
    width: 300px;
    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;

    transition: all 0.5s ease;
}

.product:hover {
    box-shadow: 0px 6px 10px lightgrey;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.product img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.product h4 {
    margin-top: 15px;
    color: #0488D1;
}

.product p {
    margin-top: 5px;
    color: #666;
}


.product-model {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
    width:600px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;

    transition: all 0.5s ease;
}

.product-model:hover {
    box-shadow: 0 6px 10px lightgrey;
    transform: scale(1.005);
    transition: all 0.5s ease;
}

.product-model img {
    padding:10px;
    width: 50%;
    object-fit: contain;
}

.product-info{
    height: 100%;
    width:100%;
    padding:10px;
}

.product-info h3 {
    margin-top: 10px;
    color: #0488D1;
}

.product-info p {
    margin-top: 5px;
    color: #666;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0488D1;
}

select {
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #0488D1;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0488D1;
}

/* ski.html */

button {
    background-color: #07529D;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#paymentSection,.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
}

fieldset{
    border:none;
}
.form-CB{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    padding-top:0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
legend {
    font-family: 'Shrikhand', cursive;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: #0488D1;
}

.form-CB legend{
    margin-left: 20px;
}

.form-submit legend{
    margin-left: 0;
    text-align: center;
}




label {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

label span{
    font-weight: normal;
    color: #777;
}

input[type="number"], input[type="text"], input[type="email"],textarea, select {
    height: fit-content;
    width:fit-content;
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    width: 100%;
    height: 200px;
    resize: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"]{
    -moz-appearance: textfield;
}

.form-submit input{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#expirationMonth,#expirationYear{
    width: 100px;
}


.form-submit input{
    margin:0;
    padding: 15px;
    border: none;
    background-color: #0488D1;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-out;
    /* put all the elements in the middle*/
    display: flex;
    justify-content: center;

}
.form-submit input:hover{
    /* nice slide of the background color from the left to the right that reveal a white background with blue text */
    background-image: linear-gradient(to right, #1c8bd1, #1c8bd1 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color: black;
}






/* cart.html */
.main-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

table{
    border-collapse: collapse;
    margin: 20px;
    width: 70%;
    min-width: 500px;

}

thead,tbody{
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
tbody tr td:last-child{
    display: flex;
    flex-direction: row;
    gap:5px;
}
tr button{
    width: 100%;
    margin:0;
    padding: 15px 5px;
    border: none;
    background-color: #0488D1;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-out;

}
tr button:hover{
    /* nice slide of the background color from the left to the right that reveal a white background with blue text */
    background-image: linear-gradient(to right, #1c8bd1, #1c8bd1 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color: black;
}

.last-row td{
    display: table-cell !important;
}

.last-row td p{
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
}


.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
}

.about h2{
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    color: #0488D1;
    margin: 20px;
}

.about ul{
    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about ul li{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.contact-form .info-form{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    padding-top:0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.contact-info h3{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    color: #0488D1;
}

.contact-info span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-info span p{
    font-size: 20px;
    font-weight: bold;
}


/* footer */
footer{
    align-self: flex-end;
    background: #07529D;
    width: 100%;
    bottom: auto;
    box-shadow: 0 -8px 10px lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
footer nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:50px;
    gap:30px;
    list-style-type: none;
}
footer a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;

}

footer a:hover {
    text-decoration: underline;
}


/* media queries */
@media screen and (max-width: 680px) {
    #Menu li:not(:last-child) {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .product-model{
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    tbody tr td:last-child {
        flex-direction: column;
    }
    table{
        width: 100%;
        min-width: 100px;
    }
}

@media screen and (max-width: 400px) {
    #Menu li {
        display: none;
    }
    .Logo {
        width: 100%;
        height: 100%;
    }
}